.item {
  width: 380px;
  height: 460px;
  position: relative;
  display: inline-block;

  background-image: linear-gradient(
      114.99deg,
      #471ca9 -0.99%,
      #5736a3 54.28%,
      #4b2a99 78.99%
    ),
    url('../../images/backgraundImage.png');
  box-shadow: -2.5777px 6.87386px 20.6216px rgba(0, 0, 0, 0.23);
  border-radius: 20px;
}

.row {
  position: absolute;
  bottom: 238px;
  width: 100%;
  height: 8px;

  background: #ebd8ff;
  box-shadow: 0px 3.43693px 3.43693px rgba(0, 0, 0, 0.06),
    inset 0px -1.71846px 3.43693px #ae7be3, inset 0px 3.43693px 2.5777px #fbf8ff;
}

.avatar_box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;

  background: #ebd8ff;
  box-shadow: 0px 4.39163px 4.39163px rgba(0, 0, 0, 0.06),
    inset 0px -2.19582px 4.39163px #ae7be3,
    inset 0px 4.39163px 3.29372px #fbf8ff;
  border-radius: 50%;
  /* border: 9px solid #ebd8ff; */
}

.avatar_img {
  width: 62px;
  height: 62px;
  border-radius: 50%;
}

.wrap {
  padding: 20px 20px 36px 20px;
}

.logo_icon {
  width: 76px;
}

.img {
  position: absolute;
  top: 36px;
  /* top: 50%; */
  left: 50%;
  transform: translate(-50%, -0%);

  width: 308px;
  height: 168px;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 196px;
  height: 50px;
  margin: 0 auto;
  margin-top: 26px;

  background: #ebd8ff;
  box-shadow: 0px 3.43693px 3.43693px rgba(0, 0, 0, 0.25);
  border: none;
  border-radius: 10.3108px;

  font-weight: 600;
  font-size: 18px;
  line-height: 1.2;
  text-transform: uppercase;
  color: #373737;
}

.btn__dark {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 196px;
  height: 50px;
  margin: 0 auto;
  margin-top: 26px;

  background: #5cd3a8;
  box-shadow: 0px 3.43693px 3.43693px rgba(0, 0, 0, 0.25);
  border: none;
  border-radius: 10.3108px;

  font-weight: 600;
  font-size: 18px;
  line-height: 1.2;
  text-transform: uppercase;
  color: #373737;
}

.info {
  margin-top: 242px;
  text-align: center;

  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-transform: uppercase;

  color: #ebd8ff;
}

.info_tweet {
  margin-bottom: 16px;
}
