@import-normalize; /* bring in normalize.css styles */

@font-face {
  font-family: 'Montserrat';

  src: url('../src/fonts/Montserrat-VariableFont_wght.ttf');
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Montserrat', monospace;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  width: 100%;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

.container {
  width: 100%;
  padding: 50px;
  margin: 0 auto;
}
